/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	font: 14px/24px arial, sans-serif;
	text-align: left;
	background: #fff;
	margin: 0;
	color: #666;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* HEADERS
---------------------------------------------------- */

h2 {
	font-size: 20px;
	line-height: inherit;
	color: #000;
	margin: 0 0 24px 0;
}
h3 {
	font-size: 15px;
	color: #333;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
h4 {
	font-size: 14px;
	color: #333;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
h2.alt, h3.alt {
	color: #009933;
}
/* ********************************************************** */
.fleft{
	float:left;
}
.fright{
	float:right;
}
.clear{
	clear:both;
}
a{
	text-decoration: underline;
}
a:hover {
	color: #009933;
}
p {
	margin: 0 0 24px 0;
}
/* #header.cabinet .navbar .brand {
	background: url(../img/logo.png) left 10px  no-repeat;
	width: 100px;
	height: 24px;
} */
#header.cabinet {
	height: 40px;
}
#header.cabinet .navbar{
	/* background:url(../img/bg_header.gif) 0 0 repeat-x; */
	/* height: 40px; */
	background: url(../img/bg_header-inner_l.jpg) center 0 repeat-y #000; 
}
#header.cabinet .navbar-inner{
	background: none;
	/* background: url(../img/bg_header-inner.jpg) 200px 0 no-repeat; */
	box-shadow: none;
	border: none;
}
#header.cabinet .navbar .nav > a{
	color: #ccc;
	box-shadow: none;
}
#header.cabinet .navbar .nav > .active > a,
#header.cabinet .navbar .nav > .active > a:hover, 
#header.cabinet .navbar .nav > .active > a:focus {
	background-color: black;
	box-shadow: none;
	color: #fff;
}
#header.cabinet .navbar .nav > li > a{
	text-shadow: none;
	color: #999;
}
#header.cabinet .navbar .nav > li > a i{
	opacity: 0.5;
}
#header.cabinet .navbar .nav > li > a:focus, 
#header.cabinet .navbar .nav > li > a:hover{
	color: #fff;
}
#header.cabinet .navbar .nav > li > a:focus i, 
#header.cabinet .navbar .nav > li > a:hover i{
	opacity: 1;
}
#header.cabinet .navbar .nav > li > a:focus span, 
#header.cabinet .navbar .nav > li > a:hover span{
	border-top-color: #fff;
	border-bottom-color: #fff;
}
#header.cabinet .navbar .nav li.dropdown.open > .dropdown-toggle, 
#header.cabinet .navbar .nav li.dropdown.active > .dropdown-toggle, 
#header.cabinet .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: black;
	box-shadow: none;
}
#header.cabinet .navbar .nav li.open > a i, 
#header.cabinet .navbar .nav li.active > a i, 
#header.cabinet .navbar .nav li.open.active > a i{
	opacity: 1;
}
/* #header.cabinet .navbar-inner > .container{
		width: 100%;
} */
#header.cabinet .navbar .brand{
	margin-left: 10px;
	padding: 10px 20px 0px 10px;
	text-shadow: none;
	text-decoration: none;
	font-weight: bold;
	color: #eee;
}
.container.cabinet .main{
	width: 70%;
	float: right;
}
.container.cabinet .sb{
	width: 25%;
	float: left;
	margin-top: 10px;
}
.container.cabinet .sb .navbar-search {
	position: relative;
	margin: 10px 0 0 0;
}
.container.cabinet .main .content{
	padding: 10px;
}
.b-help-actions p{
	margin: 0;
}
input[type="text"].search-query{
	background: #EEE;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: #f6f6f6;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px #f6f6f6, 0 0 8px #999;
-moz-box-shadow: inset 0 1px 1px #f6f6f6, 0 0 8px #999;
box-shadow: inset 0 1px 1px #f6f6f6, 0 0 8px #999;
background: #fff;
}
.b-help-actions dt{
	display: block;
	clear: both;
	float: left;
	background: #D9EDF7;
	color: #3A87AD;
	width: 30px;
	height: 30px;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	text-indent: -1px;
	margin-right: 1px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-decoration: none;
}
.b-help-actions dd{
	margin-left: 30px;
	padding-left: 10px;
	padding-bottom: 1.5em;
	overflow: hidden;
	zoom: 1;
}
.footer.cabinet{
	/* margin: 0; */
	padding: 7px 10px;
	color: #616165;
	background: #EDEFF8;
	border-top: 1px solid #DDDFE8;
}
.footer.cabinet a{
	text-decoration: none;
	margin-left: 30px;
}
.footer.cabinet a i{
	margin-right: 5px;
}
.b-help-actions dd p small {
	font-size: .9em;
	font-style: italic;
}
@media (min-width: 1200px) { 

}
@media (min-width: 980px) and (max-width: 1199px) {
	/* .container.cabinet .sb{
		background: blue;
	} */
	#header.cabinet {
		height: 80px;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#header.cabinet {
		height: 50px;
	}
	/* .container.cabinet .sb{
		background: grey;
	} */
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#header.cabinet {
		height: 50px;
	}
	.container.cabinet .sb{
		width: 100%;
	}
	.container.cabinet .main{
		width: 100%;
	}
	/* .container.cabinet .sb{
		background: #fff;
	} */
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	/* .container.cabinet .sb{
		background: blue;
	} */
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.modal.fade{
	 top: -125%;
}

.data_minute{
	width: 38px; 
	background-color: #6FFFB3; 
	border: 1px solid gray; 
	float: left;
}

.data_minute.to-show{
	background-color: #6FC0FF;
}
.view.support{
	border-left: 10px solid #b3d4fc;
	padding-left: 10px;
}
.view.customer{
	border-left: 10px solid #EDEFF8;
	padding-left: 10px;
}
.view.support .data_type{
	width: 250px;
	float: right;
}
.view.support .data_type .type{
	float: left;
	color: #3a87ad;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	border-color: #bce8f1;
	color: #3a87ad;
	padding: 0px 14px;
	border-radius: 4px;
}
.view.customer .data_type .type{
	display: none;
}

/* ******************** archivePage **************** */

.archive_view {
	width: 540px;
	float: left;
	clear: left;
}

.select_archive_period {
	width: 247px;
	float: right;
	clear: right;
}

.select_archive_period .bootstrap-widget-content {
	padding: 0;
}

.col_52 {
	width: 52px;
}

.select_archive_period .ui-datepicker {
	width: 238px;
}

.end-archive-form input[type="checkbox"]{
	margin: 0;
}

.archive_view .bootstrap-widget-content{
	padding: 15px 9px;
	min-height: 268px;
}

.archive_view .bootstrap-widget-content h2{
	text-align: center;
}

.archive_view .bootstrap-widget-content form{
	margin: 0;
}

#loadingDiv
{
	height:160px;
	background: url(../img/ajax-loader.gif) no-repeat center;
	margin-top:35px;
}
/* **************** end archivePage **************** */
