/* ************* fonts ************* */
@font-face {
font-family: 'agoraitalic';
	src: url('fonts/pfagorasanspro-italic-webfont.eot');
	src: url('fonts/pfagorasanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfagorasanspro-italic-webfont.svg') format('svg'),
		url('fonts/pfagorasanspro-italic-webfont.woff') format('woff'),
		url('fonts/pfagorasanspro-italic-webfont.ttf') format('truetype');		
	font-weight: normal;
	font-style: normal;
}
@font-face {
font-family: 'agoramedium';
	src: url('fonts/pfagorasanspro-medium-webfont.eot');
	src: url('fonts/pfagorasanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfagorasanspro-medium-webfont.svg') format('svg'),
		url('fonts/pfagorasanspro-medium-webfont.woff') format('woff'),
		url('fonts/pfagorasanspro-medium-webfont.ttf') format('truetype');
		
	font-weight: normal;
	font-style: normal;
}
@font-face {
font-family: 'agoramediumitalic';
	src: url('fonts/pfagorasanspro-mediumital-webfont.eot');
	src: url('fonts/pfagorasanspro-mediumital-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfagorasanspro-mediumital-webfont.svg') format('svg'),
		url('fonts/pfagorasanspro-mediumital-webfont.woff') format('woff'),
		url('fonts/pfagorasanspro-mediumital-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
font-family: 'agoraregular';
	src: url('fonts/pfagorasanspro-reg-webfont.eot');
	src: url('fonts/pfagorasanspro-reg-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfagorasanspro-reg-webfont.svg') format('svg'),
		url('fonts/pfagorasanspro-reg-webfont.woff') format('woff'),
		url('fonts/pfagorasanspro-reg-webfont.ttf') format('truetype');		
	font-weight: normal;
	font-style: normal;
}
:focus { outline: none; }
/* ************* end fonts ************* */
.clear{
	clear: both;
}
.fleft{float: left;}
.fright{float: right;}
#wrapper{
	width: 1200px;
	margin: 0 auto;
}
body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	height:160px;
	background: url(../img/pattern2.png) repeat-x left top;
	margin-top:35px;
}

/* #logo
{
	padding: 10px 20px;
	font-size: 200%;
} */

#mainmenu
{
	/* background:white url(bg.gif) repeat-x left top; */
	margin: 0 auto;
	width: 1000px;
	height: 65px;
	background:url(../img/main_menu_bg.png) no-repeat left top;
}

#mainmenu ul
{
	height: 65px;
	/*width: 1000px;*/
/* 	margin:0px; */
	/* float: left; */
}
#mainmenu ul li
{
	display: block;
	height: 59px;
	float: left;
}
#mainmenu ul li:hover,
#mainmenu ul li.active
{
	display: block;
	height: 63px;
	float: left;
	background: url(../img/bg_item_left2.png) no-repeat left 3px, url(../img/bg_item_right2.png) no-repeat right 3px;
	/*background: url(../img/bg_item_left.png) no-repeat left top, url(../img/bg_item_right.png) no-repeat right top;*/
}
#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:20px;
	text-decoration:none;
	padding: 0px 5px 0px 10px;
	margin: 0 15px;
	display: block;
	height: 63px;
	float: left;
	line-height: 65px;
	text-shadow: 1px 1px 2px #888;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
}

#mainmenu ul li:hover a, #mainmenu ul li.active a
{
	text-decoration:none;
	background:	url(../img/bg_item_center.png) no-repeat center 3px;
}
/*#mainmenu ul li:hover a+div, #mainmenu ul li.active a+div
{
	background:	url(../img/bg_item_center_shadow2.png) no-repeat center top;
	position:relative;
	height:63px;
	z-index: -2;
	margin-right: 12px;
}*/
.second_menu
{
	/* background:white url(bg.gif) repeat-x left top; */
	margin: 0 auto;
	width: 950px;
}

.second_menu ul
{
	padding:0;
	margin: 0;
}

.second_menu ul.level_top > li
{
	display: inline;
	margin: 0 35px;
	float:left;
}
.second_menu ul.level_top > li:first-child{
	margin-left:0;
}
.second_menu ul.level_top > li:last-child{
	margin-right:0;
	float:right;
}
.second_menu ul.level_top ul.position{
	left: -118px;
	padding-bottom: 7px;
}
.second_menu ul.level_top ul.position li.user_name span{
	font-size: 20px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	padding: 13px 20px 0px 20px;
	display: block;
	color: #85DB18;
}
.second_menu ul li a
{
	/* color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px; */
	
	font-size: 17px;
	color: #2E2E2E;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	text-decoration: underline;
}

.second_menu ul li a:hover, 
.second_menu ul li.active a,
a.link_green
{
	color: #85DB18;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
.block_logo
{
	height: 100px;
	background: url(../img/bg_top2.png) center top no-repeat;
}
.block_logo>div{
	height: 100px;
	background: url(../img/pattern2.png) repeat-x left top;
	/* background: radial-gradient(ellipse farthest-side at 30px 20px, #fff, #000); */
}
.block_logo .logo,
.block_slider,
.block_info,
.block_baners,
.block_reviews,
.block_plans,
.block_contacts,
.block_about{
	width: 950px;
	margin: 0 auto;
}
.block_info2{
	width:1000px;
	margin: 0 auto;
}
.block_logo .logo{
	height: 100px;
	margin: 0 auto;
}
.block_logo .logo a{
	display:block;
	height: 100px;
	background: url(../img/logo.png) left 14px no-repeat;
	width:300px;
	float: left;
}
.block_about{
	font-size: 16px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
}
//*********SLIDER*********/
.block_slider{
	height: 403px;
	/* background: url(../img/slider.jpg) left top no-repeat; */
	margin: 0 auto;
}

.block_slider .carousel-caption.item_caption{
	background: none;
	text-align: center;
	position: absolute;
	top: 100px;
	right: 0;
	/* bottom: 0; */
	left: 490px;
	padding: 15px;
	width: 400px;
}

.carousel-caption h4, .carousel-caption p{
	/* color: #616264; */
	font-size: 30px;
	color: #616264;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	line-height: 32px;
}

#frontSlider .carousel-indicators li {
background: url(../img/slides/inactive.png) bottom center;
}

#frontSlider .carousel-indicators li.active, #frontSlider .carousel-indicators li.active:hover {
background: url(../img/slides/active.png) bottom center;
}

#frontSlider .carousel-indicators li {
	width: 10px;
	height: 10px;
	margin: 0 5px;
	/* background: #9d9fa2; */
	list-style: none;
	display: inline-block;
}

.carousel-indicators{
	display: block;
	position: absolute;
	top: 20px;
	margin: 0 0 0 415px;
}
/*********end SLIDER*********/
.slogan span{
	font-size:30px;
	color:#2e2e2e;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	width: 950px;
	text-align:center;
	margin: 35px auto;
	display: block;
}
.block_header{
	font-size:28px;
	color:#2e2e2e;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
}
.block_info_left{
	width: 375px;
	float:left;
}
.block_info_left_text{
	font-size: 16px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
}
.block_info_left_video{
	background: url(../img/video_presentation.jpg) left top no-repeat;
	width:375px;
	height:150px;
}
.block_info_left_text a{
	color:#85DB18;
	text-decoration:none;
	border-bottom:1px dotted #85DB18;
	font-family: "agoramediumitalic", Helvetica, Arial, sans-serif;
}
.block_info_right{
	width: 525px;
	float:right;
}
.block_info_right>div{
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-top:20px;
}
.block_info_right .item_img{
	float:left;
	margin-right:10px;
}
/*.block_info_right_item1 .item_img{
	width: 64px;
	height:54px;
	background: url(../img/Icons.png) left top no-repeat;
}
.block_info_right_item2 .item_img{
	width: 54px;
	height:65px;
	background: url(../img/Icons.png) -64px top no-repeat;
}
.block_info_right_item3 .item_img{
	width: 63px;
	height:50px;
	background: url(../img/Icons.png) -118px top no-repeat;
}
.block_info_right_item4 .item_img{
	width: 65px;
	height:55px;
	background: url(../img/Icons.png) -182px top no-repeat;
}
*/
.block_help{
	height:275px;
	width:1000px;
	margin: 0 auto;
}
.block_help .map{
	width: 600px;
	height:250px;
	background:url(../img/map.png) 110px 2px no-repeat;
	position:relative;	
	float: left;
}
.message{
	width:173px;
	position:relative;
	border-radius: 5px;
	border-bottom: 3px solid #78d004;
}
.message.mes1{
	top: 60px;
	left: 0px;
	background:url(../img/bg_messng1_lev1.png) left top repeat-y;
}
.message.mes2{
	top: -63px;
	left: 411px;
	background:url(../img/bg_messng2_lev1.png) left top repeat-y;
}
.message.mes3{
	top: -6px;
	left: 387px;
	background:url(../img/bg_messng3_lev1.png) left top repeat-y;
}
.message .message_top{
	width:173px;
}
.message.mes1 .message_top{
	background:url(../img/bg_messng1_top_lev2.png) left top no-repeat;
	min-height:91px;
}
.message.mes2 .message_top{
	background:url(../img/bg_messng2_top_lev2.png) left top no-repeat;
	min-height:36px;
}
.message.mes3 .message_top{
	background:url(../img/bg_messng3_top_lev2.png) left top no-repeat;
	min-height:88px;
}
.message .message_top>div, 
.slogan2, .slogan2 a{
	font-size:15px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	padding:10px 0;
	width:160px;
	margin: 0px auto;
	text-shadow: 1px 1px 2px #888;
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
}
.slogan2_h{
	font-size:25px;
	font-family: "agoramediumitalic", Helvetica, Arial, sans-serif;
	margin: 15px 0 0 0;
	text-align:left;
}
.slogan2_content{
	width:280px;
	float:right;
	margin-right:25px;
}
.slogan2_txt{
	margin: 10px 0 0 0;
	text-align:left;
}
.slogan2 a{
	float: right;
}
.message .message_bottom{
	width:173px;
	height:5px;
}
.message.mes1 .message_bottom{
	background:url(../img/bg_messng1_bottom_lev2.png) left top no-repeat;
}
.message.mes2 .message_bottom{
	background:url(../img/bg_messng2_bottom_lev2.png) left top no-repeat;
}
.message.mes3 .message_bottom{
	background:url(../img/bg_messng3_bottom_lev2.png) left top no-repeat;
}
.slogan2{
	width:370px;
	height:250px;
	background:url(../img/apply_now_bg.png) left top no-repeat;
	float: right;
	margin-top: 16px;
}
.block_baners{
	margin-top:20px;
}
.block_baners>div{
	width:174px;
	height:320px;
}
.baners_item1{
	background:url(../img/baner1.png) left top no-repeat;
	float:left;
	margin-right: 20px;
}
.baners_item2{
	background:url(../img/baner2.png) left top no-repeat;
	float:left;
	margin-right: 20px;
}
.baners_item3{
	background:url(../img/baner3.png) left top no-repeat;
	float:left;
	margin-right: 20px;
}
.baners_item4{
	background:url(../img/baner4.png) left top no-repeat;
	float:left;
	margin-right: 20px;
}
.baners_item5{
	background:url(../img/baner5.png) left top no-repeat;
	float:right;
	margin-right: 0;
}
.baners_txt{
	margin-top: 195px;
	text-align: center;
}
.block_info2_left,
.block_info2_right{
	height:270px;
	width:490px;
	border-radius: 7px;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
.block_info2_left{
	float:left;
	background:url(../img/bg_block_info2_left.png) left top repeat-x;
	border-bottom: 3px solid #f7790c;
}
.block_info2_right{
	float:right;
	background:url(../img/bg_block_info2_right.png) left top repeat-x;
	border-bottom: 3px solid #8cc13a;
}
.block_info2_left_content,
.block_info2_right_content{
	height: inherit;
	width:inherit;
	border-radius: 7px;
}
.block_info2_left_content{
	background:url(../img/bg_block_info2_left_content.png) right top no-repeat;
}
.block_info2_right_content{
	background:url(../img/bg_block_info2_right_content.png) left top no-repeat;
}
.block_info2_h{
	color:#2e2e2e;
	font-size:27px;
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	padding: 25px 0 0 25px;
}
.block_info2_right_content .block_info2_h{
	padding: 25px 25px 0 0;
	float: right;
}
.block_info2_txt{
	color:#2e2e2e;
	font-size:17px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	padding: 25px 0 0 25px;
	width:290px;
}
.block_info2_left_content .block_info2_txt{
	padding: 25px 0 0 25px;
	width:290px;
}
.block_info2_right_content .block_info2_txt{
	padding: 25px 25px 0 0;
	float: right;
	width:285px;
	text-align:right;
}
.block_info2_right_content .message.mes2{
	float: right;
	margin: 10px 25px 0 0;
	left: 0;
	top: 0;
}
.block_info2_right_content .message.mes2 a{
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 9px 0 0 0;
	width: 160px;
	margin: 0px auto;
	text-shadow: 1px 1px 2px #888;
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	text-decoration: none;
	display:block;
	line-height:27px;
}
.block_info2 a{
	color:#85db18;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	font-size:17px;
}
.block_info2_left_content a{
	padding: 25px 0 0 25px;
	display: block;
}
#footer .second_menu
{
	height: 55px;
	padding-top: 35px;
}
#footer .block_logo>div{
	background:none;
	border-top:1px solid #ededed;
}
#footer .block_logo .logo a{
	background: url(../img/logo2.png) left 14px no-repeat;
}
.support{
	width:475px;
	height:60px;
	float:right;
	margin-top: 28px;
}
.support > div {
	color:#404040;
	height:60px;
	padding: 0 0 0 30px;
}
.support > div:first-child{
	background:url(../img/icon_phone.png) left 6px no-repeat;
	float:left;
}
.support > div:last-child{
	background:url(../img/icon_clock2.png) left 6px no-repeat;
	margin-left:20px;
	float:right;
}
.support > div span{
	font-size:15px;
	width:179px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
}
.support > div div{
	font-size:26px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
}
.slogan3{
	color:#404040;
	float:right;
	margin-top:32px;
}
.slogan3 > span{
	font-size:20px;
	float:right;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
.slogan3 > div:last-child{
	font-size:16px;
	float:right;
	width:100%;
	margin-top:5px;
}
.slogan3 > div:last-child > div:first-child{
	background: url(../img/icon_clock.png) 65% top no-repeat;
	width:50%;
	float:left;
	text-align:right;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
}
.slogan3 > div:last-child > div:last-child{
	background:url(../img/icon_calendar.png) center top no-repeat;
	width:50%;
	float:right;
	text-align:right;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
}
.reviews_header{
	background:url(../img/bg_reviews_header.png) left center repeat-x;
}
.reviews_header span,
.header1{
	color:#2e2e2e;
	font-size:30px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	background:#fff;
	padding-right: 10px;
}
.block_reviews{
	margin-top: 230px;
}
.block_reviews_left{
	width:600px;
	float:left;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	font-size:16px;
}
.block_reviews_left > p:first-of-type{
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
}
.block_reviews_right{
	width:300px;
	float:right;
}
.reviews_item{
	margin-top: 15px;
}
.reviews_item_photo{
	float:left;
	width:70px;
	height:70px;
}
.reviews_item_photo img{
	float:left;
	width:70px;
}
.reviews_item_info{
	float:right;
	width:215px;
}
.reviews_item_info > div:nth-child(1){
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	font-size:22px;
}
.reviews_item_info > div:nth-child(2){
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#2e2e2e;
}
.reviews_item_info > div:nth-child(3){
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#b8b8b8;
}
.reviews_item_content{
	margin-top: 15px;
	font-size:15px;
	font-family: "agoraitalic", Helvetica, Arial, sans-serif;
	color:#2e2e2e;
}
.block_reviews_right a.reviews_all{
	float: right;
	margin-top: 20px;
}
.block_plans{
	margin: 110px auto 0 auto;
	position:relative;
}
.plans_slogan{
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.plans_item{
	border-bottom:1px solid #e5e5e5;
	height: 50px;
}
.plans_slogan span,
.plans_item span{
	display: inline-block;
	text-align: right;
}
.plans_slogan span{
	font-size:15px;
	color:#4f5253;
	width:295px;
	padding:30px 0;
	font-family: "agoraitalic", Helvetica, Arial, sans-serif;
}
.plans_item span{
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	border-bottom: 1px dotted #6f6f6f;
	margin-right:655px;
	float:right;
	font-size:19px;
	color:#494949;
	padding-top: 14px;
}
.tariff_business, .tariff_home{
	width:302px;
	position:relative;
}
.tariff_home{
	position: absolute;
	top: -60px;
	left: 320px;
}
.tariff_home_top{
	background: url(../img/bg_tariff_home_top.png) left top repeat-x;
	height:51px;
	border-radius: 5px 5px 0 0 ;
}
.tariff_home_top span{
	padding-left:10px;
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	font-size:18px;
	text-shadow: 1px 1px 2px #888;
	color: #fff;
	text-align: center;
	display: block;
	line-height: 55px;
	background: url(../img/tariff_home_top_star.png) 55px 18px no-repeat;
}
.tariff_header{
	width: 302px;
	height:110px;
	background:url(../img/bg_tariff_header.png) left top no-repeat;
}
.tariff_header > span:first-child{
	font-size:40px;
	color:#fff;
	font-size:40px;
	text-shadow: 1px 1px 2px #888;
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	display:block;
	text-align:center;
	padding-top: 25px;
}
.tariff_header > span:last-child{
	font-family: "agoramediumitalic", Helvetica, Arial, sans-serif;
	color:#fff;
	text-shadow: 1px 1px 2px #888;
	font-size:14px;
	text-align:center;
	display:block;
}
.tariff_item{
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background:#fff;
	height: 50px;
}
.tariff_item span{
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #4f5253;
	padding-top: 14px;
	text-align: center;
	margin: 0 auto;
	display: inherit;
}
.tariff_item.check_1{
	background:url(../img/check_1.png) center 65% no-repeat #fff;
}
.tariff_item.check_0{
	background:url(../img/check_0.png) center 65% no-repeat #fff;
}
.tariff_footer{
	width:302px;
	height:195px;
	background:url(../img/bg_tariff_footer2.png) left top no-repeat;
}
.tariff_footer_price{
	font-size: 65px;	
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	color: #fff;
	margin-left: 65px;
	line-height: 135px;
}
a.tariff_footer_button{
	font-size:17px;
	font-family: "agoramediumitalic", Helvetica, Arial, sans-serif;
	color: #fff;
	background:url(../img/tariff_button.png) left top no-repeat;
	width: 142px;
	height: 41px;
	display: block;
	margin-left: 80px;
	text-align: center;
	line-height: 42px;
}
a.tariff_footer_button:hover{
	background:url(../img/tariff_button_hover.png) left top no-repeat;
	color: #fff;
	text-decoration: none;
}
/* .tariff_business_footer{
	width:302px;
	height:195px;
	background:url(../img/tariff_business_footer.png) left top no-repeat;
} */
.tariff_business{
	position: absolute;
	top: -9px;
	left: 648px;
}
.tariff_business .tariff_header{
	border-radius: 5px 5px 0 0;
}
.block_contacts{
	margin-top:40px;
}
.map_wrapper{
	width:950px;
	height:400px;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	border-radius:5px;
	background:url(../img/map_contacts.png) 50% 50% no-repeat;
	margin-top: 25px;
}
.contacts_content{
	width:695px;
	margin: 7px auto 0 auto;
}
.contacts_content .arrow_up{
	width:19px;
	height:30px;
	background:url(../img/arrow_up.png) left top no-repeat;
	position: relative;
	left: 150px;
}
.contacts_content .contacts_left,
.contacts_content .contacts_right{
	width:330px;
}
.contacts_content .contacts_left{
	float:left;
	color: #2e2e2e;
}
.contacts_content .contacts_right{
	float:right;
}

.input_style,
input[type="text"],
input[type="password"]{
	border: 1px solid #DDD;
	border-radius: 5px;
	/* box-shadow: 0 0 5px #DDD; */
	box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:  0 0 28px 1px rgba(0, 0, 0, 0.05); 
	-webkit-box-shadow:  0 0 28px 1px rgba(0, 0, 0, 0.05); 
	color: #7d7d7d;
	outline: none;
	height: 25px;
	width: 100%;
	padding: 7px 14px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
input.input_style:focus,
textarea.input_style:focus { 
   background: #DFE9EC; 
	color: #414848; 
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25); 
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25); 
    outline:0; 
    border: 1px solid #CCC;
} 
input.input_style:hover,
textarea.input_style:hover   { 
	background: #DFE9EC; 
} 
input.input_style:active,
textarea.input_style:active{
	cursor:pointer;
	position:relative;
	top:2px;
	border: 1px solid #CCC;
}
/*.contacts_content .contacts_right input,
.contacts_content .contacts_right textarea{ 
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD;
	color: #7d7d7d;
	outline: none;
	height: 25px;
	width: 100%;
	padding: 7px 14px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	font-size: 16px;
} 
*/
.contacts_content .contacts_right textarea.input_style{
	height:160px;
	margin-top:20px;
}
.contacts_content .contacts_right input.input_style:nth-of-type(1){
	background: url(../img/icon_user.png) no-repeat right 10px #FFF;
}
.contacts_content .contacts_right input.input_style:nth-of-type(2){
	background: url(../img/icon_dog.png) no-repeat right 10px #FFF;
	margin-top:20px;
}
.contacts_content .contacts_right .captcha input.input_style{
	background: url(../img/icon_eye.png) no-repeat right 10px #FFF;
}

.contacts_content .contacts_right input:nth-of-type(1):hover,
.contacts_content .contacts_right input:nth-of-type(1):focus,
.contacts_content .contacts_right input:nth-of-type(2):hover,
.contacts_content .contacts_right input:nth-of-type(2):focus,
.contacts_content .contacts_right .captcha input.input_style:hover,
.contacts_content .contacts_right .captcha input.input_style:focus{
	background: #DFE9EC;
}

.contacts_content .contacts_left .infoblock div:nth-child(1){
	background: url(../img/bg_reviews_header.png) left -5px repeat-x;
}
.contacts_content .contacts_left .infoblock div:nth-child(1) span{
	font-size: 21px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	background: #fff;
	padding-right: 10px;
}
.contacts_content .contacts_left .infoblock div:nth-child(2){
	font-size: 22px;
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	text-align:right;
}
.contacts_content .contacts_left .infoblock div:nth-child(3){
	font-size: 12px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	text-align:right;
}
.contacts_content .contacts_left .infoblock div:nth-child(4){
	font-size: 12px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	text-align:right;
	color:#b8b8b8;
	line-height:16px;
}
.contacts_content .contacts_left .infoblock div:nth-child(1){
	background: url(../img/bg_reviews_header.png) left -5px repeat-x;
}
.contacts_content .contacts_left .infoblock div:nth-child(1) span{
	font-size: 21px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	background: #fff;
	padding-right: 10px;
}
.contacts_content .contacts_left .infoblock div:nth-child(3){
	font-size: 12px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	text-align:right;
	margin-top: 5px;
}
.contacts_content .contacts_left .infoblock div:nth-child(4){
	font-size: 12px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	text-align:right;
	color:#b8b8b8;
	line-height:16px;
}
.contacts_content .contacts_left .infoblock div:nth-child(2),
.contacts_content .contacts_left .infoblock div.tel{
	font-size: 22px;
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	text-align:right;
	margin-top: 9px;
}
.block_registration{
	width:755px;
	margin: 40px auto 0 auto;
}
.block_registration .header1{
	text-align:center;
}
.registration_left{
	float:left;
	width:340px;
}
.registration_right{
	float:right;
	width:366px;
}

.block_registration .registration_left input:nth-of-type(1){
	background: url(../img/icon_user.png) no-repeat right 10px #FFF;
}
.block_registration .registration_left input:nth-of-type(2){
	background: url(../img/icon_pas.png) no-repeat right 10px #FFF;
	margin-top:20px;
}
.block_registration .registration_left input:nth-of-type(3){
	background: url(../img/icon_res.png) no-repeat right 10px #FFF;
	margin-top:20px;
}
.block_registration .registration_left input:nth-of-type(4){
	background: url(../img/icon_dog.png) no-repeat right 10px #FFF;
	margin-top:20px;
}


.block_registration .registration_left input:nth-of-type(1):hover,
.block_registration .registration_left input:nth-of-type(2):hover,
.block_registration .registration_left input:nth-of-type(3):hover,
.block_registration .registration_left input:nth-of-type(4):hover,
.block_registration .registration_left input:nth-of-type(1):focus,
.block_registration .registration_left input:nth-of-type(2):focus,
.block_registration .registration_left input:nth-of-type(3):focus,
.block_registration .registration_left input:nth-of-type(4):focus{
	background: #DFE9EC;
}

.block_registration .registration_left input:nth-of-type(1):active,
.block_registration .registration_left input:nth-of-type(2):active,
.block_registration .registration_left input:nth-of-type(3):active,
.block_registration .registration_left input:nth-of-type(4):active{
	cursor:pointer;
	position:relative;
	top:2px;
}
.registration_right .registration_infoblock{
	border-left:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	border-radius: 0 0 5px 5px;
}
.registration_right .registration_infoblock_line,
.registration_right .registration_infoblock_header{
	width:100%;
	height:60px;
}
.registration_right .registration_infoblock_line{
	border-bottom:1px solid #d3d3d3;
}
.registration_right .registration_infoblock_line:last-child{
	border:none;
	border-radius: 0 0 5px 5px;
}
.registration_right .registration_infoblock_header{
	background:url(../img/bg_registration_infoblock_header.png) left top no-repeat;
}
.registration_right .registration_infoblock_header div:nth-of-type(1),
.registration_right .registration_infoblock_line div:nth-of-type(1){
	width:65%;
	height:100%;
	float:left;
	line-height: 60px;
}
.registration_right .registration_infoblock_header div:nth-of-type(2),
.registration_right .registration_infoblock_line div:nth-of-type(2){
	border-left:1px solid #d3d3d3;
	width:34%;
	height:100%;
	float:right; 
	line-height: 60px;
}
.registration_right .registration_infoblock_line:nth-of-type(2n+1){
	background:#fafafa;
}
.registration_right .registration_infoblock_line:nth-of-type(2n+2){
	background:#f6f6f6;
}
.registration_right .registration_infoblock_header div{
	font-size: 17px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 2px #888;
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
}
.registration_right .registration_infoblock_header div:last-child{
	border:none;
}
.registration_right .registration_infoblock_line div{
	font-size:16px;
	color:#555;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	text-align: center;
}
.registration_right .registration_infoblock_line div.check_1{
	background: url(../img/check_1.png) center 65% no-repeat;
}
.registration_right .link_green{
	font-size:16px;
	font-family: "agoraregular", Helvetica, Arial, sans-serif;
	padding-left: 98px;
}
.captcha{
	position: relative;
	margin-top: 10px;
}
.captcha_box{
	width: 124px;
}
.captcha .captcha_box a{
	color: #414848;
	border-bottom: 1px dotted #414848;
	font-family: "agoramediumitalic", Helvetica, Arial, sans-serif;
}
.captcha .captcha_box a:hover{
	text-decoration: none;
}
.captcha input.input_style{
	width: 204px;
	position: absolute;
	left: 126px;
}
.button{
	width: 173px;
	height: 44px;
	background: url(../img/bg_button.png) left top no-repeat #fff;
	position: static;
}
.contacts_content .button,
.registration_left .button{
	position: relative;
	left: 185px;
}
.button:hover{
	background-position:0 0;
	background-color: #fff;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.errorMessage{
	color: #B94A48;
}
.errorSummary{
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#login.modal{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
	border: none;
	margin: -250px 0 0 -170px;
	width:388px;
	overflow: hidden;
}
.block_modal{
	width:388px;
	min-height: 300px;
	background:url(../img/bg_modal.png) left top repeat-y;
	border-radius:5px;
}
.block_modal .errorMessage{
	width: 85%;
}
.block_modal_wrapper{
	background: url(../img/bg_modal_bottom.png) left bottom no-repeat;
	width:388px;
	min-height: 300px;
}
/*.block_modal_top{
	background:url(../img/bg_modal_top.png) left top no-repeat;
	width: 388px;
	height: 199px;
	position:absolute;
	left:0;
	top:0;
	z-index:0;
}*/

/*.bg_modal_bottom{
	background: url(../img/bg_modal_bottom.png) left bottom no-repeat;
	position: absolute;
	width: 388px;
	min-height: 300px;
	left: 0px;
	z-index:0;
}*/
.modal_content{
/*	position: absolute;
	top: 25px;
	left: 25px;*/
		width:388px;
	min-height: 300px;
	background:url(../img/bg_modal_top.png) left top no-repeat;
	padding: 25px 0 5px 25px;
}
.modal_header{
	width:338px;
}
.modal_header span{
	font-family: "agoramedium", Helvetica, Arial, sans-serif;
	font-size:18px;
	text-shadow: 1px 1px 2px #888;
	float:left;
	padding:0 10px;
	color:#fff;
}
.left_line,
.right_line{
	width:95px;
	height:16px;
	background:url(../img/bg_line.png) left 65% repeat-x;
	float:left;
}
.right_line{
	width:79px;
}
a.modal_header_close{
	width:16px;
	height:16px;
	background:url(../img/bg_modal_header_close.png) left top no-repeat;
	float:right;
	margin-top: 2px;
	display:block;
}
a.modal_header_close:hover{
	background:url(../img/bg_modal_header_close_hover.png) left top no-repeat;
}
.block_modal .input_style{
	box-shadow:none;
	width: 307px;
}
.block_modal input:nth-of-type(1){
	background: url(../img/icon_user.png) no-repeat right 10px #FFF;
}
.block_modal input:nth-of-type(2){
	background: url(../img/icon_pas2.png) no-repeat right 10px #FFF;
	margin-top:20px;
}
.block_modal input:nth-of-type(1):hover,
.block_modal input:nth-of-type(2):hover,
.block_modal input:nth-of-type(1):focus,
.block_modal input:nth-of-type(2):focus{
	background: #DFE9EC;
}
.modal_txt{
	color:#fff;
	font-family: "agoramediumitalic", Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height: 24px;
}
input[type="submit"].modal_button{
	width: 179px;
	height: 50px;
	background: url(../img/bg_modal_button.png) left top no-repeat;
	border: none;
	margin-left: 13px;
}
input[type="submit"].modal_button:hover{
	background: url(../img/bg_modal_button_hover.png) left top no-repeat;
}
.modal_footer{
	margin-top: 28px;
}
.modal_footer a.modal_txt{
	border-bottom: 1px dotted #fff;
	text-decoration:none;
}
.block_modal a.modal_txt:hover{
	color: #fff;
}
.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../img/checkbox.png) left bottom no-repeat;
	display: block;
	clear: left;
	float: left; 
	margin-top: 16px;
}
.radio {
	background: url(../img/radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(../img/select.png) no-repeat;
	overflow: hidden;
}




/* ****************** new style ********************************** */
.block_info_right>span.clear{
	display:block;
	height:5px;
}
/** 1 Имущество **/
.goods .block_info_right_item1 .item_img{
	width: 64px;
	height:54px;
	background: url(../img/Icons.png) left top no-repeat;
}
.goods .block_info_right_item2 .item_img{
	width: 54px;
	height:65px;
	background: url(../img/Icons.png) -64px top no-repeat;
}
.goods .block_info_right_item3 .item_img{
	width: 64px;
	height:50px;
	background: url(../img/Icons.png) -118px top no-repeat;
}
.goods .block_info_right_item4 .item_img{
	width: 65px;
	height:55px;
	background: url(../img/Icons.png) -182px top no-repeat;
}
/** 2 Пожилые родители **/
.parents .block_info_right_item1 .item_img{
}
.parents .block_info_right_item2 .item_img{
	width: 64px;
	height: 57px;
	background: url(../img/Icons.png) 0px -189px no-repeat;
}
.parents .block_info_right_item3 .item_img{
	width: 53px;
	height: 54px;
	background: url(../img/Icons.png) -66px -189px no-repeat;
}
.parents .block_info_right_item4 .item_img{
}
/** 3 Бизнес **/
.business .block_info_right_item1 .item_img{
	width: 53px;
	height: 54px;
	background: url(../img/Icons.png) 0px -60px no-repeat;
}
.business .block_info_right_item2 .item_img{
	width: 54px;
	height: 65px;
	background: url(../img/Icons.png) -50px -63px no-repeat;
}
.business .block_info_right_item3 .item_img{
	width: 66px;
	height: 50px;
	background: url(../img/Icons.png) -106px -67px no-repeat;
	margin-right: 3px;
}
.business .block_info_right_item4 .item_img{
	width: 65px;
	height: 55px;
	background: url(../img/Icons.png) -180px -60px no-repeat;
}
/** 4 Детский сад **/
.kindergarten .block_info_right_item1 .item_img{
	width: 54px;
	height: 54px;
	background: url(../img/Icons.png) -5px -247px no-repeat;
}
.kindergarten .block_info_right_item2 .item_img{
	width: 63px;
	height: 50px;
	background: url(../img/Icons.png) -53px -253px no-repeat;
}
.kindergarten .block_info_right_item3 .item_img{
}
.kindergarten .block_info_right_item4 .item_img{
}
/** 5 Образование **/
.education .block_info_right_item1 .item_img{
	width: 64px;
	height: 54px;
	background: url(../img/Icons.png) 2px -298px no-repeat;
}
.education .block_info_right_item2 .item_img{
}
.education .block_info_right_item3 .item_img{
}
.education .block_info_right_item4 .item_img{
}
/** 6 Дети **/
.children  .block_info_right_item1 .item_img{
	width: 54px;
	height: 65px;
	background: url(../img/Icons.png) 0px -126px no-repeat;
}
.children .block_info_right_item2 .item_img{
	width: 63px;
	height: 53px;
	background: url(../img/Icons.png) -60px -133px no-repeat;
}
.children .block_info_right_item3 .item_img{
}
.children .block_info_right_item4 .item_img{
}
/************ end new style *****************/



/* ******************** dropup ***************** */

.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle {
    *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
    outline: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    /* color: #ffffff; */
    text-decoration: none;
    background-color: #F7F7F7;
    background-color: #EAEAEA;
    background-image: -moz-linear-gradient(top, #F7F7F7, #EAEAEA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #EAEAEA);
    background-image: -o-linear-gradient(top, #F7F7F7, #EAEAEA);
    background-image: linear-gradient(to bottom, #F7F7F7, #EAEAEA);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EAEAEA', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    /* color: #ffffff; */
    text-decoration: none;
    background-color: #F7F7F7;
    background-color: #EAEAEA;
    background-image: linear-gradient(to bottom, #F7F7F7, #EAEAEA);
    background-image: -moz-linear-gradient(top, #F7F7F7, #EAEAEA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #EAEAEA);
    background-image: -o-linear-gradient(top, #F7F7F7, #EAEAEA);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EAEAEA', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
    color: #999999;
}

.dropdown-menu .disabled > a:hover {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
}

.open {
    *z-index: 1000;
}

.open > .dropdown-menu {
    display: block;
}

.profile_infoblock_header.open > .dropdown-menu {
    left: 75px;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid #000000;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown .dropdown-menu .nav-header {
    padding-right: 20px;
    padding-left: 20px;
}

.typeahead {
    margin-top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* ******************** end dropup ***************** */
