/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* HEADERS
---------------------------------------------------- */

h2 {
	font-size: 20px;
	line-height: inherit;
	color: #000;
	margin: 0 0 24px 0;
}
h3 {
	font-size: 15px;
	color: #333;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
h4 {
	font-size: 14px;
	color: #333;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
h2.alt, h3.alt {
	color: #009933;
}
/* ********************************************************** */
.fleft{
	float:left;
}
.fright{
	float:right;
}
.clear{
	clear:both;
}
a{
	text-decoration: underline;
}
a:hover {
	color: #009933;
}
p {
	margin: 0 0 24px 0;
}
#header .nav{
	float: right;
}
#header{
	background:url(../img/bg_header.gif) 0 0 repeat-x;
}

/* #header .navbar .nav{
	margin: 5px 200px 0 0;
} */
#header .navbar .nav > li > a{
	text-shadow: none;
	font: 14px/24px arial, sans-serif;
}
#header .navbar .nav > li.text_style1 > a{
	color: #fff;
}
#header .navbar .nav > li.text_style2 > a{
	color: #ccc;
}
#header .navbar .nav > li.text_style3 > a{
	color: #3399cc;
}
#header .navbar .nav > li.text_style2 > a:hover,
#header .navbar .nav > li.text_style3 > a:hover{
	color: #009933;
}
#header .navbar .nav li.dropdown.open > .dropdown-toggle{
	 background: none;
}
#header .dropdown-menu li > a:focus, 
#header .dropdown-menu li > a:hover{
	background: #000;
}
#header .navbar{
	margin-bottom: 0;
}
#headline {
	background: black;
}
h2.home {
	/* background-image: url(../img/h2_home-headline.jpg); */
	margin: 0 auto;
	padding: 0;
	/* width: 960px; */
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
}
#headline-inner {
	margin: 0 auto;
	/* width: 960px; */
	padding: 0 10px;
	line-height: 0;
	background: url(../img/bg_headline-inner.jpg) top center no-repeat;
}
#signup {
	border-top: #666 solid 1px;
	background: #000;
}
#signup .plans {
	text-align: right;
	float: right;
	padding: 3px 0 0 0;
}
.button2, .button3{
	text-decoration: none;
	text-align: center;
	padding: 7px 26px;
	border: solid 1px #8aed95;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: 10px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
	background-color: #8aed95;
	background-image: -moz-linear-gradient(top, #8aed95 0%, #168507 100%);
	background-image: -webkit-linear-gradient(top, #8aed95 0%, #168507 100%);
	background-image: -o-linear-gradient(top, #8aed95 0%, #168507 100%);
	background-image: -ms-linear-gradient(top, #8aed95 0% ,#168507 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#168507', endColorstr='#168507',GradientType=0 );
	background-image: linear-gradient(top, #8aed95 0% ,#168507 100%);
	-webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.button {
	text-decoration: none;
	text-align: center;
	padding: 7px 26px;
	border: solid 1px #004F72;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: 10px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
	background-color: #3BA4C7;
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
	-webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.button3,.button3:hover{
	font-size: 16px;
	padding: 5px 15px;
	color: #ffffff;
}
.button:hover, .button2:hover{
	color: #ffffff;
	text-decoration: none;
}
#signup-inner {
	width: 940px;
	padding: 21px 0;
	color: #ccc;
	margin: 0 auto;
}
.signup-conteiner{
	width: 100%;
}
#signup p {
	margin: 0;
}
#showcase {
	background: #ddd;
}
#showcase-inner {
	margin: 0 auto;
	width: 940px;
	/* padding: 21px 0; */
}
#showcase div.feature {
	margin: 21px 20px 21px 0;
	float: left;
	width: 220px;
	font-size: 12px;
	line-height: 22px;
	/* background: #fff; */
}
div.feature h3 {
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}
div.feature p {
	margin: 0;
}
div.feature img {
	float: left;
	margin: 5px 10px 0 0;
	border: #fff solid 1px;
}
#main {
	margin: 0 auto;
	width: 940px;
	padding: 24px 0;
}
#main .main_content {
	width: 700px;
	float: left;
}
p.lead {
	font-size: 20px;
	color: #333;
}
div.leftcol {
	width: 340px;
	float: left;
}
div.rightcol {
	width: 340px;
	float: right;
}
div.group {
	padding: 20px 20px 1px 20px;
	background: #eee;
	margin: 0 0 24px 0;
}
img.left {
	float: left;
	margin: 5px 10px 0 0;
}
div.sidebar {
	width: 220px;
	float: right;
}
div.sidebar div.feature {
	margin: 0 0 24px 0;
	font-size: 12px;
	line-height: 22px;
}
div.feature h3 {
	font-size: 14px;
}
div.group h3 {
	margin: 0 0 12px 0;
}
div.feature p {
	margin: 0;
}
#main div.feature img {
	border: #ccc solid 1px;
	margin: 5px 10px 0 0;
}



#footer {
	width: 940px;
	margin: 0 auto 24px auto;
	border-top: #ccc solid 1px;
}
.footer-container{
	width: 100%;
	padding: 24px 0px 24px 0px;
	font-size: 12px;
}
.footer-container .newsletter {
	float: right;
}
input.submit {
	background: #3399cc;
	color: #fff;
	border: 0;
	padding: 4px 5px;
	font-weight: bold;
	cursor: pointer;
}
a.twitter {
	background: url(../img/Twitter-24x24.png) left no-repeat;
	padding: 6px 0 6px 28px;
	margin: 0 0 12px 0;
	line-height: 30px;
}
a.facebook {
	background: url(../img/FaceBook-24x24.png) left no-repeat;
	padding: 6px 0 6px 28px;
	margin: 0 0 12px 0;
	line-height: 30px;
}
input.submit:hover {
	background: #009933;
}
.light {
	color: #999;
}
#header .navbar-inner {
	border-radius: 0;
}
/* ******************************************************** */
@media (max-width: 979px){
	#header .nav {
		float: none;
	}
}
@media (min-width: 979px){
	#header .navbar-inner {
		background: url(../img/bg_header-inner.jpg) 200px 0 no-repeat;
		box-shadow: none;
		border: none;
		height: 65px;
		border-radius: 0;
	} 
}
/* ******************************************************** */

@media (min-width: 1200px) { 

}
@media (min-width: 980px) and (max-width: 1199px) {
	#showcase div.feature {
		/* background: green; */
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#showcase-inner {
		width: 760px;
		/* background: #fff; */
	}
	#showcase div.feature {
		margin: 10px;
		width: 360px;
		/* background: blue; */
	}
	div.sidebar{
		width: 100%;
	}
	#main{
		width: 100%;
	}
	#main .main_content{
		width:100%;
	}
	div.leftcol{
		width:58%;
		/*margin-left:5px*/
		padding-left:10px;
	}
	p.lead{
		padding-left:10px;
	}
	div.rightcol{
		width:38%;
		/*margin-right:5px*/
		padding-right:10px;
	}
	#signup #signup-inner{
		width: 100%;
	}
	#signup .plans {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	#signup .signup-buttons{
		text-align: center;
	}
	div.sidebar div.feature {
		margin-right: 10px;
	}
	div.sidebar div.feature {
		margin-left: 10px;
	}
	#footer {
		width: 100%;
	}
	.footer-container .newsletter{
		margin-right: 10px;
	}
	.footer-container .details{
		margin-left: 10px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#showcase-inner {
		width: 440px;
		/* background: #fff; */
	}
	#showcase div.feature {
		margin: 10px;
		width: 200px;
		/* background: grey; */
	}
		div.sidebar{
		width: 100%;
	}
	#main{
		width: 100%;
	}
	#main .main_content{
		width:100%;
	}
	div.leftcol{
		width:100%;
	}
	div.rightcol{
		width:100%;
	}
	#signup #signup-inner{
		width: 100%;
	}
	#signup .plans {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	#signup .signup-buttons{
		text-align: center;
	}
	/* div.sidebar div.feature {
		margin-left: 10px;
	} */
	#footer {
		width: 100%;
	}
	.footer-container .newsletter{
		float: none;
		text-align: center;
	}
	.footer-container .details{
		text-align: center;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	#showcase-inner {
		width: 100%;
	}
	#showcase div.feature {
		margin: 10px 0 0 10px;
		width: 95%;
		/* background: grey; */
	}
	#showcase div.feature:last-child{
		margin: 10px 0 10px 10px;
	
	}
	#signup #signup-inner{
		width: 100%;
	}
	.signup-buttons .button,
	.signup-buttons .button2 {
		display: block;
		margin: 0 20px;
	}
}
/* ==========================================================================
   new
   ========================================================================== */
#headline-inner {
	margin: 0 auto;
	width: 960px;
}
small {
	font-size: 12px;
	color: #666 !important;
}
a {
	color: #39C;
}
.plans-chart {
	line-height: 24px;
	font-size: 14px;
	margin: 0 0 12px 0;
	color: white;
	padding: 10px;
}
table.plans tr td.best {
	background: black;
	padding: 10px 0 0 0 !important;
	border: black solid 1px !important;
	color: #F90;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}
table.plans tr th {
	text-align: center;
	padding: 12px 10px;
	border-top: #152D39 solid 1px;
	border-right: #152D39 solid 1px;
	border-bottom: #152D39 solid 1px;
}
table.plans tr td {
	border-right: #152D39 solid 1px;
	border-bottom: #152D39 solid 1px;
	padding: 7px 10px;
	background: #294E60;
	text-align: center;
	font-size: 16px;
}
table.plans tr td.blank {
	background: transparent;
	border: 0;
	padding: 0;
	line-height: 0;
}
table.plans tr th.pick-text {
	font-size: 12px;
	color: #CCC;
	text-align: left;
	vertical-align: bottom;
	border-top: 0;
	font-weight: normal;
}
table.plans h2 {
	margin: 0;
	color: white;
}
table.plans .price {
	color: #39C;
	font-size: 18px;
	font-weight: normal;
}
table.plans tr td.feature, 
table.plans tr th.feature {
	background: none;
	text-align: left;
	border-left: 0;
	border-top: 0;
	text-align: right;
	white-space: nowrap;
	border-bottom: #152D39 solid 1px;
	font-size: 14px;
}
table.plans tr td.highlight {
	background: black;
	border-bottom: #152D39 solid 1px;
}
table.plans tr th.highlight {
	background: black;
	padding: 0 !important;
}
a.tipsy {
	background: #222;
	color: #999;
	padding: 2px 5px;
	margin: 0 5px;
}
dl {
	margin: 0 0 24px 0;
}
dl dt {
	font-weight: bold;
	color: #333;
}
dl dd {
	margin: 0 0 12px 0;
}
body {
font: 14px/24px arial, sans-serif;
text-align: left;
color: #666;
}
.content {
	width: 700px;
	float: left;
}
.sidebar {
	width: 220px;
	float: right;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
