#calendar th, #calendar td{
    text-align: center;
    background: #fff;
    padding: 0px 10px;
}
#calendar td a{
	color: #999;
	padding: 2px;
}
#calendar td a:hover{
	background: #f6f6f6;
	border-radius: 4px;
}	
#calendar .weekdays-row th {
    background-color: #fff;
    padding: 5px 12px;
}

#calendar .calendar-selected-day a{
    border: 1px solid #ccc;
	border-radius: 4px;
}
#calendar a:hover{
	text-decoration: none;
}
