#calendar th, #calendar td{
    text-align: center;
    background: #fff;
    padding: 0px 12px;
}

#calendar .weekdays-row th {
    background-color: #fff;
    padding: 5px 12px;
}

#calendar .calendar-selected-day a{
    border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
}
/* ===== custom ===== */
#calendar a:hover{
	text-decoration: none;
}
