#calendar th, #calendar td{
    text-align: center;
    background: #fff;
	font-weight: 500;
}

#calendar .weekdays-row th {
    background-color: #fff;
}

#calendar .calendar-selected-day {
    font-weight: bold;
}
