@CHARSET "UTF-8";
/* .widget {
	width:27%; float:left; margin: .2%; background-color: #f5f5f5;
	border: 1px solid #e3e3e3; 
 	-webkit-border-radius: 4px; 
 	-moz-border-radius: 4px; 
 	border-radius: 4px; 
 	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); 
 	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); 
 	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); 
} */
.well_custom {
	/* width:16%; float:left; margin: .2%; */ 
	background-color: #dedede;
	border: 1px solid #e3e3e3; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.widget2 {
	width:54.6%; float:left; margin: .2%; background-color: #f5f5f5;
	border: 1px solid #e3e3e3; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.widget3 {width:23%; float:left; margin: .2%; background-color: #f5f5f5;}
.widget4 {width:23%; float:left; margin: .2%; background-color: #f5f5f5;}
.bootstrap-widget-header {height: 100% !important; }
/* .foot.row,
.main .row,
.well .row{
	margin: 0;	
} */
.page-header h1{
	margin: 0;
	line-height: 23px;
}
h1 {
	font-size: 26px !important;
}
h2 {
	font-size: 24px !important;
}
h3 {
	font-size: 22px !important;
}
.fleft{
	float: left !important;
}
.fright{
	float: right;
}
.unit-fluid{
	width: 100%;
}
#main_image{
	margin-bottom: 5px;
}
.main {}
.side {}
.clear {clear:both;}
textarea{resize: vertical;}
.grid-view table thead th {
background: #f5f5f5;
}
.form-actions{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.grid-view{
	padding-top: 0px;
}
.search-form{
	/* margin-top: 45px; */
	margin-top: 25px;
}
.test {
	margin-right: 10px; 
}
/* .post_search .row,
.category_search .row{
	float: left;
	width: 375px;
}
.post_search input,
.category_search input{
	width: 355px;
}
.post_search select{
	width: 363px;
}
.post_search textarea{
	width: 98%;
	min-width: 355px;
}
.comment-form .row{
	float: left;
	width: 560px;
}
.comment-form input{
	width: 535px;
} */
.search-form span.required{
	display: none;
}
.text-color-red{
	color: red;
}
.text-color-green{
	color: green;
}
.row_custom{
	margin-right: 10px;
}
/* .well{
	margin-right: 0;
} */
.miniColors-trigger{
	margin: 0 0 8px 20px;
}
/*  */
/* @media (min-width: 1200px) {
@media (min-width: 980px) {
@media (min-width: 768px) and (max-width: 979px) {
@media (max-width: 979px) {
@media (max-width: 767px) {
@media (max-width: 480px) { */
/*  */
/* Large desktop */
.separator1{
		height: 20px;
	}
@media (min-width: 1200px) { 
	.main_header{
		margin-top: 40px;
		/* background: red; */ 
	} 
	.breadcrumb{
		margin-top: 50px;
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
	.main_header{
		margin-top: 80px;
		/* background: green; */
	}
	.breadcrumb{
		margin-top: 90px;
	}
} 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.main_header{
		/* margin-top: 80px; */
		/* background: blue; */
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.main_header{
		/* margin-top: 80px; */
		/* background: grey; */
	}
	.separator1{
		display: none;
	}
	.separator2{
		display: block;
		height: 10px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.main_header{
		/* margin-top: 80px; */
		background: red;
	}
	.separator1{
		display: none;
	}
	.separator2{
		display: block;
		height: 10px;
	}
}
