#calendar th, #calendar td{
    text-align: center;
    background: #fff;
}

#calendar .weekdays-row th {
    background-color: #fff;
}

#calendar .calendar-selected-day {
    /* font-weight: bold; */
}
/* ===== custom ===== */
#calendar a:hover{
	text-decoration: none;
}